{% extends 'base.html.twig' %}

{% block title %}Edit Projet{% endblock %}

{% block body %}
    <h1>Edit Projet</h1>

  	{# Affichage de l'alerte de succès si le paramètre 'editSuccess' est défini et est vrai #}
	{% if editSuccess is defined and editSuccess %}
		<div class="alert alert-success" role="alert">
			Projet updated successfully!
		</div>
	{% endif %}

	{# Affichage de l'alerte d'erreur si le paramètre 'editError' est défini et est vrai #}
	{% if editError is defined and editError %}
		<div class="alert alert-danger" role="alert">
			Error updating projet. Please try again.
		</div>
	{% endif %}


	{# Affichage de l'alerte de succès si le paramètre 'deleteSuccess' est défini et est vrai #}
	{% if deleteSuccess is defined and deleteSuccess %}
		<div class="alert alert-success" role="alert">
			Projet deleted successfully!
		</div>
	{% endif %}

	{# Affichage de l'alerte d'erreur si le paramètre 'deleteError' est défini et est vrai #}
	{% if deleteError is defined and deleteError %}
		<div class="alert alert-danger" role="alert">
			Error deleting projet. Please try again.
		</div>
	{% endif %}


    <a href="{{ path('app_projet_index') }}">back to list</a>

    {{ include('projet/_delete_form.html.twig') }}

    <div class="container-scroller">
		<!-- partial:partials/_navbar.html -->

		{% include "dashboard/nav_&_sidebar_&_footer/_nav.html.twig" %}


		<!-- partial -->
		<div class="container-fluid page-body-wrapper">
			<!-- partial:partials/_sidebar.html -->

			{% include "dashboard/nav_&_sidebar_&_footer/_sidebar.html.twig" %}

			<!-- partial -->
			<div class="main-panel">
				<div class="content-wrapper">

					<div class="row">
						<div class="col-md-12 grid-margin">
							<div class="d-flex justify-content-between flex-wrap">
								<div class="d-flex align-items-end flex-wrap">
									<div class="mr-md-3 mr-xl-5">
										<h2>Bienvenue
											{{ nom_prenom_user }}</h2>
										<!-- <p class="mb-md-0">Your analytics dashboard template.</p> -->
									</div>
									<div class="d-flex">
										<i class="mdi mdi-account-circle text-muted hover-cursor"></i>
										<!-- <p class="text-muted mb-0 hover-cursor">&nbsp;/&nbsp;Dashboard&nbsp;/&nbsp;</p> -->
										<p class="text-primary mb-0 hover-cursor">Administratreur</p>
									</div>
								</div>

							</div>
						</div>
					</div>


					<div class="row">
						<div class="col-md-12 grid-margin stretch-card">
							<div
								class="card">
								{# Affichage de l'alerte de succès si le paramètre 'deleteSuccess' est défini et est vrai #}
								{% if deleteSuccess is defined and deleteSuccess %}
									<div class="alert alert-success" role="alert">
										Projet deleted successfully!
									</div>
								{% endif %}

								{# Affichage de l'alerte d'erreur si le paramètre 'deleteError' est défini et est vrai #}
								{% if deleteError is defined and deleteError %}
									<div class="alert alert-danger" role="alert">
										Error deleting projet. Please try again.
									</div>
								{% endif %}

                                {# Affichage de l'alerte de succès si le paramètre 'editSuccess' est défini et est vrai #}
                                {% if editSuccess is defined and editSuccess %}
                                    <div class="alert alert-success" role="alert">
                                        Projet updated successfully!
                                    </div>
                                {% endif %}

                                {# Affichage de l'alerte d'erreur si le paramètre 'editError' est défini et est vrai #}
                                {% if editError is defined and editError %}
                                    <div class="alert alert-danger" role="alert">
                                        Error updating projet. Please try again.
                                    </div>
                                {% endif %}

								<div class="card-body">
									<h4 class="card-title" _msttexthash="455338" _msthash="40">Formulaire de Modification</h4>

									<div style="display: flex; justify-content: flex-end;">
										<a type="button" href="{{ path('app_projet_new') }}" class="btn btn-outline-primary btn-fw">
											<b>Effectuer un nouvel enregistrement</b>
										</a>
									</div>
									<br>

                                    {{ include('projet/_form.html.twig', {'button_label': 'Update'}) }}

	                                    <br>
                                            <a href="{{ path('app_projet_index') }}">
                                                <button type="button" class="btn btn-outline-secondary btn-fw " _msttexthash="154141" _msthash="43">Revenir à la Liste</button>
                                            </a>
                                        <br>
                                        <br>

                                    {{ include('projet/_delete_form.html.twig') }}
								</div>
							</div>
						</div>


					</div>


					<!-- content-wrapper ends -->
					<!-- partial:partials/_footer.html -->

					{% include "dashboard/nav_&_sidebar_&_footer/_footer.html.twig" %}

					<!-- partial -->
				</div>
				<!-- main-panel ends -->
			</div>
			<!-- page-body-wrapper ends -->
		</div>
		<!-- container-scroller -->
{% endblock %}
