{% extends 'base.html.twig' %}

{% block title %}Projet
{% endblock %}

{% block body %}


	<div
		class="container-scroller">
		<!-- partial:partials/_navbar.html -->

		{% include "dashboard/nav_&_sidebar_&_footer/_nav.html.twig" %}


		<!-- partial -->
		<div
			class="container-fluid page-body-wrapper">
			<!-- partial:partials/_sidebar.html -->

			{% include "dashboard/nav_&_sidebar_&_footer/_sidebar.html.twig" %}

			<!-- partial -->
			<div class="main-panel">
				<div class="content-wrapper">

					<div class="row">
						<div class="col-md-12 grid-margin">
							<div class="d-flex justify-content-between flex-wrap">
								<div class="d-flex align-items-end flex-wrap">
									<div class="mr-md-3 mr-xl-5">
										<h2>Bienvenue
											{{ nom_prenom_user }}</h2>
										<!-- <p class="mb-md-0">Your analytics dashboard template.</p> -->
									</div>
									<div class="d-flex">
										<i class="mdi mdi-account-circle text-muted hover-cursor"></i>
										<!-- <p class="text-muted mb-0 hover-cursor">&nbsp;/&nbsp;Dashboard&nbsp;/&nbsp;</p> -->
										<p class="text-primary mb-0 hover-cursor">Administratreur</p>
									</div>
								</div>

							</div>
						</div>
					</div>


					<div class="row">
						<div class="col-md-12 grid-margin stretch-card">
							<div
								class="card">
								{# Affichage de l'alerte de succès si le paramètre 'deleteSuccess' est défini et est vrai #}
								{% if deleteSuccess is defined and deleteSuccess %}
									<div class="alert alert-success" role="alert">
										Projet deleted successfully!
									</div>
								{% endif %}

								{# Affichage de l'alerte d'erreur si le paramètre 'deleteError' est défini et est vrai #}
								    {% if deleteError is defined and deleteError %}
        <div class="alert alert-danger">
            Une erreur est survenue lors de la suppression du projet. Veuillez supprimer d'abord les données en relation avant de supprimer ce projet.
        </div>
    {% endif %}
								<div class="card-body">
									<h4 class="card-title">Informations :</h4>

									<div style="display: flex; justify-content: flex-end;">
										<a type="button" href="{{ path('app_projet_new') }}" class="btn btn-outline-primary btn-fw">
											<b>Effectuer un nouvel enregistrement</b>
										</a>
									</div>
									<br>

									<div class="table-responsive">
										<table class="table table-striped">

											<tbody>
												<tr>
													<th>Id</th>
													<td>{{ projet.id }}</td>
												</tr>
												<tr>
													<th>Nom</th>
													<td>{{ projet.nom }}</td>
												</tr>
												<tr>
													<th>Description</th>
													<td>{{ projet.description }}</td>
												</tr>
												<tr>
													<th>Image</th>
													<td>{{ projet.image }}</td>
												</tr>
												<tr>
													<th>Date_creation</th>
													<td>{{ projet.dateCreation ? projet.dateCreation|date('Y-m-d') : '' }}</td>
												</tr>
											</tbody>
										</table>

										<br>
										<div class="container">
											<div
												class="row d-flex justify-content-between">
												<!-- Premier bouton à gauche -->
												<div class="col-auto">
													<a href="{{ path('app_projet_index') }}">
														<button type="button" class="btn btn-secondary">Revenir à la Liste</button>
													</a>
												</div>

												<!-- Deuxième bouton à droite -->
												<div class="col-auto">
													<a href="{{ path('app_projet_edit', {'id': projet.id}) }}">
														<button type="button" class="btn btn-primary">Modifier</button>
													</a>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div style="text-align: center; justify-content:center">
									{{ include('projet/_delete_form.html.twig') }}
									<br>
								</div>
							</div>
						</div>


					</div>


					<!-- content-wrapper ends -->
					<!-- partial:partials/_footer.html -->

					{% include "dashboard/nav_&_sidebar_&_footer/_footer.html.twig" %}

					<!-- partial -->
				</div>
				<!-- main-panel ends -->
			</div>
			<!-- page-body-wrapper ends -->
		</div>
		<!-- container-scroller -->

	{% endblock %}

