{% extends 'base.html.twig' %}

{% block title %}Jouer index
{% endblock %}

{% block body %}

	<div
		class="container-scroller">
		<!-- partial:partials/_navbar.html -->

		{% include "dashboard/nav_&_sidebar_&_footer/_nav.html.twig" %}


		<!-- partial -->
		<div
			class="container-fluid page-body-wrapper">
			<!-- partial:partials/_sidebar.html -->

			{% include "dashboard/nav_&_sidebar_&_footer/_sidebar.html.twig" %}

			<!-- partial -->
			<div class="main-panel">
				<div class="content-wrapper">

					<div class="row">
						<div class="col-md-12 grid-margin">
							<div class="d-flex justify-content-between flex-wrap">
								<div class="d-flex align-items-end flex-wrap">
									<div class="mr-md-3 mr-xl-5">
										<h2>Bienvenue
											{{ nom_prenom_user }}</h2>
										<!-- <p class="mb-md-0">Your analytics dashboard template.</p> -->
									</div>
									<div class="d-flex">
										<i class="mdi mdi-account-circle text-muted hover-cursor"></i>
										<!-- <p class="text-muted mb-0 hover-cursor">&nbsp;/&nbsp;Dashboard&nbsp;/&nbsp;</p> -->
										<p class="text-primary mb-0 hover-cursor">Administratreur</p>
									</div>
								</div>

							</div>
						</div>
					</div>


					<div class="row">
						<div class="col-md-12 grid-margin stretch-card">
							<div class="card">
								<div class="card-body">
									<h4 class="card-title">Tableau des quiz jouer</h4>

									<div class="table-responsive">
										<table class="table table-striped">
											<thead>
												<tr>
													<th>Id</th>
													<th>Nom de l'élève</th>
													<th>Nom du quiz</th>
													<th>Score</th>
													<th>Date_jeu</th>
													<th>Actions</th>
												</tr>
											</thead>

											<tbody>
												{% for jouer in jouers %}
													<tr>
														<td>{{ jouer.id }}</td>
														<td>{{ jouer.eleve.nom }}</td>
														<td>{{ jouer.quiz.libelle }}</td>
														<td>{{ jouer.score }}</td>
														<td>{{ jouer.dateJeu ? jouer.dateJeu|date('Y-m-d') : '' }}</td>

														<td>
															<a href="{{ path('app_jouer_show', {'id': jouer.id}) }}" title="Show">
																<button type="button" class="btn btn-secondary">Voir</button>
															</a>

														</td>
													</tr>
												{% else %}
													<tr>
														<td colspan="7">Aucun nouvel enregistrement trouvé !</td>
													</tr>
												{% endfor %}
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>


					</div>


					<!-- content-wrapper ends -->
					<!-- partial:partials/_footer.html -->

					{% include "dashboard/nav_&_sidebar_&_footer/_footer.html.twig" %}

					<!-- partial -->
				</div>
				<!-- main-panel ends -->
			</div>
			<!-- page-body-wrapper ends -->
		</div>
		<!-- container-scroller -->

	{% endblock %}
