{% extends 'base.html.twig' %}

{% block title %}Jouer{% endblock %}

{% block body %}
    <h1>Jouer</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ jouer.id }}</td>
            </tr>
            <tr>
                <th>Score</th>
                <td>{{ jouer.score }}</td>
            </tr>
            <tr>
                <th>Date_jeu</th>
                <td>{{ jouer.dateJeu ? jouer.dateJeu|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_jouer_index') }}">back to list</a>

    <a href="{{ path('app_jouer_edit', {'id': jouer.id}) }}">edit</a>

    {{ include('jouer/_delete_form.html.twig') }}
{% endblock %}
